---
# 1. VPC ID 조회 (보안 그룹 생성용)
- name: Get VPC info
  amazon.aws.ec2_vpc_net_info:
    region: "{{ region }}"
    filters: { "tag:Name": "{{ prefix }}-vpc" }
  register: vpc_info

# 2. ALB 보안 그룹 (80번 포트 개방)
- name: Create ALB Security Group
  amazon.aws.ec2_security_group:
    name: "{{ prefix }}-alb-sg"
    description: "ALB Public HTTP Access"
    vpc_id: "{{ vpc_info.vpcs[0].vpc_id }}"
    region: "{{ region }}"
    tags:
      Name: "{{ prefix }}-alb-sg"
    rules:
      - proto: tcp
        from_port: 80
        to_port: 80
        cidr_ip: 0.0.0.0/0
      - proto: tcp
        from_port: 8080
        to_port: 8080
        cidr_ip: 0.0.0.0/0
  register: alb_sg

# 3. WAS(Target) 보안 그룹 (ALB에서 오는 8080 허용)
- name: Create Target Security Group
  amazon.aws.ec2_security_group:
    name: "{{ prefix }}-target-sg"
    description: "Allow 8080 from ALB Only"
    vpc_id: "{{ vpc_info.vpcs[0].vpc_id }}"
    region: "{{ region }}"
    tags:
      Name: "{{ prefix }}-target-sg"
    rules:
      - proto: tcp
        from_port: 8080
        to_port: 8080
        group_id: "{{ alb_sg.group_id }}"
  register: was_sg

# 4. Jenkins 보안 그룹
- name: Create Jenkins Security Group
  amazon.aws.ec2_security_group:
    name: "{{ prefix }}-jenkins-sg"
    description: "Allow 8080 for Jenkins"
    vpc_id: "{{ vpc_info.vpcs[0].vpc_id }}"
    region: "{{ region }}"
    tags:
      Name: "{{ prefix }}-jenkins-sg"
    rules:
      - proto: tcp
        from_port: 8080
        to_port: 8080
        cidr_ip: 0.0.0.0/0
  register: jenkins_sg

# 5. 다른 역할에서 참조할 수 있도록 ID 고정
- set_fact:
    alb_sg_id: "{{ alb_sg.group_id }}"
    was_sg_id: "{{ was_sg.group_id }}"
    jenkins_sg_id: "{{ jenkins_sg.group_id }}"