---
# 3. 인터넷 게이트웨이(IGW) 생성
- name: Create Internet Gateway
  amazon.aws.ec2_vpc_igw:
    vpc_id: "{{ vpc_result.vpc.id }}"
    region: "{{ region }}"
    state: present
    tags:
      Name: "{{ prefix }}-igw"
  register: igw_result