# 1. VPC 생성 (DNS 옵션 추가)
- name: Create VPC
  amazon.aws.ec2_vpc_net:
    name: "{{ prefix }}-vpc"
    cidr_block: "{{ vpc_cidr }}"
    region: "{{ region }}"
    # [핵심] SSM 에이전트의 도메인 해석을 위해 필수입니다.
    dns_hostnames: yes
    dns_support: yes
    state: present
  register: vpc_result

# 6. [조회] 리소스 정보 다시 가져오기 (필터 이름 교정)
- name: Get VPC Info
  amazon.aws.ec2_vpc_net_info:
    region: "{{ region }}"
    filters:
      "tag:Name": "{{ prefix }}-vpc"
  register: vpc_info

- name: Get IGW Info
  amazon.aws.ec2_vpc_igw_info:
    region: "{{ region }}"
    filters:
      # [수정] vpc-id 대신 tag:Name을 사용해 조회하는 것이 가장 안전합니다.
      "tag:Name": "{{ prefix }}-igw"
  register: igw_info

- name: Get NAT GW Info
  amazon.aws.ec2_vpc_nat_gateway_info:
    region: "{{ region }}"
    filters:
      # NAT 게이트웨이는 vpc-id 필터가 유효하지만, 일관성을 위해 태그를 사용합니다.
      "tag:Name": "{{ prefix }}-nat-gw"
      state: ['available']
  register: nat_info

- name: Get Subnet Info
  amazon.aws.ec2_vpc_subnet_info:
    region: "{{ region }}"
    filters:
      vpc-id: "{{ vpc_info.vpcs[0].vpc_id }}"
  register: subnet_info
# 7. 퍼블릭 라우팅 테이블 (IGW 연결)
- name: Create Public Route Table
  amazon.aws.ec2_vpc_route_table:
    vpc_id: "{{ vpc_info.vpcs[0].vpc_id }}"
    region: "{{ region }}"
    tags:
      Name: "{{ prefix }}-pub-rt"
    subnets: "{{ subnet_info.subnets | selectattr('tags.Name', 'search', 'pub') | map(attribute='id') | list }}"
    routes:
      - dest: 0.0.0.0/0
        # [수정] gateways[0]를 internet_gateways[0]로 변경합니다.
        gateway_id: "{{ igw_info.internet_gateways[0].internet_gateway_id }}"

# 8. 프라이빗 라우팅 테이블 (NAT GW 연결)
- name: Create Private Route Table
  amazon.aws.ec2_vpc_route_table:
    vpc_id: "{{ vpc_info.vpcs[0].vpc_id }}"
    region: "{{ region }}"
    tags:
      Name: "{{ prefix }}-priv-rt"
    subnets: "{{ subnet_info.subnets | selectattr('tags.Name', 'search', 'priv') | map(attribute='id') | list }}"
    routes:
      - dest: 0.0.0.0/0
        nat_gateway_id: "{{ nat_info.nat_gateways[0].nat_gateway_id }}"