---
# roles/network/tasks/main.yml
- import_tasks: vpc.yml
- import_tasks: nat-cleanup.yml
- import_tasks: igw.yml
- import_tasks: subnet.yml
- import_tasks: nat.yml
- import_tasks: lookup.yml
- import_tasks: route-table.yml