---
# 5. EIP 할당 - NAT GW가 외부로 나갈떄 사용할 '전용 고정 IP'
- name: Allocate EIP for NAT Gateway
  amazon.aws.ec2_eip:
    region: "{{ region }}"
    tags:
      Name: "{{ prefix }}-nat-eip"
    state: present
  register: nat_eip

# 6. NAT GW 생성
- name: Create NEW NAT Gateway
  amazon.aws.ec2_vpc_nat_gateway:
    region: "{{ region }}"
    # 'pub-a'에 설치
    subnet_id: "{{ (subnet_results.results | selectattr('item.name', 'equalto', 'pub-a') | first).subnet.id }}"
    allocation_id: "{{ nat_eip.allocation_id }}"
    wait: yes 
    tags:
      Name: "{{ prefix }}-nat-gw"
    state: present
  register: new_nat_gw
