---
# 1. 생성된 ALB의 정보 실시간 조회 (Route 53 연결에 필요한 정보 추출)
- name: Get ALB info for Route 53
  amazon.aws.elb_application_lb_info:
    region: "{{ region }}"
    names:
      - "{{ prefix }}-alb"
  register: alb_info

# 2. Route 53 A 레코드(Alias) 생성 및 연결
- name: Create Route 53 A record for the domain
  amazon.aws.route53:
    state: present
    zone: "{{ domain_name }}" # global_vars에 정의된 도메인 (예: project01.com)
    record: "{{ domain_name }}"
    type: A
    alias: yes
    # 조회한 ALB 정보에서 DNS 이름과 호스팅 영역 ID를 매핑
    value: "{{ alb_info.load_balancers[0].dns_name }}"
    alias_hosted_zone_id: "{{ alb_info.load_balancers[0].canonical_hosted_zone_id }}"
    overwrite: yes