---
# 1. VPC 정보 조회
- name: Get VPC info
  amazon.aws.ec2_vpc_net_info:
    region: "{{ region }}"
    filters: { "tag:Name": "{{ prefix }}-vpc" }
  register: vpc_info

# 2. ALB용 보안 그룹 정보 조회
- name: Get ALB Security Group info
  amazon.aws.ec2_security_group_info:
    region: "{{ region }}"
    filters: { "group-name": "{{ prefix }}-alb-sg" }
  register: alb_sg_info

# 3. lb가 위차 할 퍼블릭 서브넷 정보 조회
- name: Get Public Subnet info
  amazon.aws.ec2_vpc_subnet_info:
    region: "{{ region }}"
    filters:
      "tag:Name": ["{{ prefix }}-pub-a", "{{ prefix }}-pub-c"]
  register: pub_subnets

# 4. 젠킨스 인스턴스 정보 조회 (대상 그룹에 등록하기 위함)
- name: Get Info for Jenkins Instance
  amazon.aws.ec2_instance_info:
    region: "{{ region }}"
    filters:
      "tag:Name": "{{ prefix }}-jenkins"
      instance-state-name: ["running"]
  register: jenkins_info
