#!/bin/bash
# 1. 시스템 업데이트 및 필수 패키지 설치
dnf update -y
dnf install -y ruby wget java-17-amazon-corretto-devel

# 2. CodeDeploy 에이전트 설치 (조건 8번 필수 사항)
cd /home/ec2-user
wget https://aws-codedeploy-ap-northeast-2.s3.ap-northeast-2.amazonaws.com/latest/install
chmod +x ./install
./install auto

# 3. CodeDeploy 에이전트 서비스 실행 확인
systemctl start codedeploy-agent
systemctl enable codedeploy-agent

# 4. 애플리케이션 실행 디렉토리 생성
mkdir -p /home/ec2-user/app
chown -R ec2-user:ec2-user /home/ec2-user/app

echo "User Data Script Execution Completed!"